body {
	padding: 0;
	margin: 0;	
	background: url(images/triangular.png);
}
.pane:nth-child(3n) {
	background: #ff5c98;
}
.pane:nth-child(3n+1) {
	background: #5c98ff;
}
.pane:nth-child(3n+2) {
	background: #2eff3c;
}
.pane {
	width: 500px;
	font-family: 'Helvetica Neue';
	box-sizing: border-box;
	color: white;	
	float: left;
	}	
	.pane .image {		
		float: left;
		background: rgba(50, 50, 50, .7);
		padding: 10px;
		box-sizing: border-box;
		}
		.pane .image h2 {
			width: 100%;
			text-align: center;
			font-size: 25px;
			margin: 0;
			margin-bottom: 20px;
		}	
		.pane .image.name h1, .pane .image.name h2 {
			margin: 0;
			padding: 0;
			text-align: center;
			font-size: 22px;
		}
		.pane .image.name h1 {
			font-size: 25px;
		}
		.pane .image h1 {
			font-size: 22px;
		}
		.pane .image.name {
			width: 200px;
		}
		.pane .image.text {
			width: 200px;
		}
		.pane.web .image img {
			width: 200px;
		}
		.pane.iphone .image img {
			width: 98px;
		}
		.pane .image h2 {
			display: none;
		}
	.pane .info {
		float: left;
		width: 250px;
		height: 200px;
		font-size: 18px;
		box-sizing: border-box;
		padding-left: 5px;
		margin-left: 30px;
	}
.footer, .header {
	width: 1000px;
}	
.header .info, .footer .info {
	width: 700px;
	height: 260px;
}
.footer .info p {
	width: 300px;
	float: left;
}
.footer ol {
	margin: 0;
	padding: 0;
}
.header .info p {
	width: 210px;
	float: left;
	margin-right: 15px;
}
#content {
	width: 1000px;
	position: absolute;
	left: 50%;
	margin-left: -500px;	
	background: #333;
}
@media all and (max-width: 1000px) {
	#content {
		width: 100%;
		left: 0;
		margin-left: 0;
	}
	.header .info, .footer .info {
		box-sizing: border-box;
		padding: 20px;
		margin: 0;
		width: 100%;
		float: none;		
	}
	.pane {
		width: 100%;
	}
	.header, .footer {
		width: 100%;
		position: relative;
	}
	.header .info p {
		box-sizing: border-box;
		width: 100%;
		margin: 0;
		margin-top: 10px;
	}
	.header {
		padding-bottom: 20px;
	}
	.footer .info p {
		width: 200px;
	}
}
@media all and (max-width: 530px) {
	.pane .image, .pane .image.text, .pane .image.name {
		width: 100%;
		text-align: center;
	}
}